html{_background-image:url(about:blank);_background-attachment:fixed;}
body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-size:12px; color: #333333; font-family:Arial, Helvetica, sans-serif; background:#ffffff url(../images/01.jpg) repeat-x 0px 0px;font-family:"microsoft yahei";}
form,p,h1,h2,h3,h4,input{ margin:0px; padding:0px;}
ul { padding:0px; margin:0px;}
li { padding:0px; margin:0px; line-height:180%;list-style-type:none;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px;}
.link_bk a {color: #333;text-decoration: none;}
.link_bk a:hover {text-decoration: underline;color: #009900;}
.link_lan a{color: #0180CF;text-decoration: none;}
.link_lan a:hover {text-decoration: underline;color: #0180CF;}
input{font-family: "microsoft yahei";}
table th{color:#666666;}
img{border:0;}
/*文本框*/
.input_text_100{width:100px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;color:#666666;}
.input_text_200 {width:200px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;color:#666666;}
.input_text_33 {width:33px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;color:#666666;}
.input_text_90 {width:90px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;color:#666666;}
.input_text_49 {width:49px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;color:#666666;}
.input_text_500 {width:500px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;color:#666666;}
.input_text_200_bg {width:194px; height:17px;overflow: hidden; border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;padding-right:15px;background:url(../images/icon36.png) no-repeat 197px -98px;cursor:pointer;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.input_text_200_bg.error {border:1px #FF6600 solid; background-color:#FFEDE8; color:#FF0000}
.input_text_200_bg.valid {border:1px #CCCCCC solid; background-color:#FFFFFF; color:#666666}
.input_text_70_bg {width:70px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;background:url(../images/icon36.png) no-repeat 67px -98px; cursor:pointer;color:#666666;}
.input_text_60_bg {width:60px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;background:url(../images/icon36.png) no-repeat 57px -98px; cursor:pointer;color:#666666;}
.input_text_60_bg_s{width:54px;padding-left:15px;}
.input_text_50_bg {width:50px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;background:url(../images/icon36.png) no-repeat 52px -98px; cursor:pointer;color:#666666;}
.wid54{width:54px;}
.input_text_200_bgsg {width:200px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;background:url(../images/13.gif) no-repeat 180px -185px;color:#666666;}
.input_textarea_500 {line-height:180%;width:500px; height:80px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px; /*line-height:200%*/ color:#666666;font-family: "microsoft yahei";}
.input_text_50_z{width:50px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:5px;background:url(../images/13.gif) no-repeat 45px -61px; cursor:pointer;margin-top: 5px;text-align: left;color:#666666;}
/*高亮*/
.highlight {color: #FF0000;}
/*当前位置*/
.page_location{height:12px; line-height:12px;width:1200px; margin:0 auto; padding-top:15px;display:none;} 
/*会员中心主体*/
.usermain{margin:0 auto; width:1200px; font-size:14px; margin-top:15px;}
.usermain .leftmenu{width:216px; float:left;background-color: #fff;}
.usermain .leftmenu.com{ /*height: 955px;*height:930px;*/} 
/*.usermain .leftmenu .meun1{ position:relative; height:100px;}
.usermain .leftmenu .meun2{ position: absolute; left:0px; top:0px;}*/
.usermain .leftmenu .meunbox{border:1px #CCCCCC solid; border-bottom:0px;width:215px;}
.usermain .leftmenu .meunbox.last{border-bottom:1px #CCCCCC solid;}
.usermain .leftmenu .meunbox .tit{ height:40px;}
.usermain .leftmenu .meunbox .tit .t{font-family:"microsoft yahei","宋体"; font-weight:bold; padding-left:60px; padding-top:15px;}
.usermain .leftmenu .meunbox .tit .t.i1{background:url(../images/04.gif)  no-repeat 30px 17px;}
.usermain .leftmenu .meunbox .tit .t.i2{background:url(../images/04.gif)  no-repeat 30px -30px;}
.usermain .leftmenu .meunbox .tit .t.i3{background:url(../images/04.gif)  no-repeat 30px -80px;}
.usermain .leftmenu .meunbox .tit .t.c1{background:url(../images/04.gif)  no-repeat 30px 17px;}
.usermain .leftmenu .meunbox .tit .t.c2{background:url(../images/04.gif)  no-repeat 30px -30px;}
.usermain .leftmenu .meunbox .tit .t.c3{background:url(../images/04.gif)  no-repeat 30px -120px;}
.usermain .leftmenu .meunbox .tit .t.c4{background:url(../images/04.gif)  no-repeat 30px -80px;}
.usermain .leftmenu .meunbox .tit .t.c5{background:url(../images/04.gif)  no-repeat 30px -155px;}
.usermain .leftmenu .meunbox .linktxt{ padding-bottom:10px;}
.usermain .leftmenu .meunbox .linktxt ul{padding:0px; margin:0px;}
.usermain .leftmenu .meunbox .linktxt ul li{font-size:0px;font-family:"microsoft yahei","宋体";/*padding-left:50px;*/ height:35px;line-height:35px;}
.usermain .leftmenu .meunbox .linktxt ul li.h{ background-color:#0180CF;}
.usermain .leftmenu .meunbox .linktxt ul li.h a{ color:#FFFFFF}
/* 会员中心 左侧 顶部 中心首页和 预览*/
.usermain .leftmenu .meunbox .menu_top{background-color: #eee;height: 43px;text-align: center;font-size: 14px;line-height: 43px;}
.usermain .leftmenu .meunbox .menu_top a{text-decoration: none;}
.usermain .leftmenu .meunbox .menu_top span{color: #999}

.usermain .rightmain{width:984px; float:left;background-color: #fff;}
.usermain .rightmain .bbox1{border:1px #CCCCCC solid;border-left-width: 0; padding-bottom:15px;  margin-bottom:0px;/*_width:788px;*/}
.usermain .rightmain .bbox1 .h1-title{font-size:20px;font-family:"microsoft yahei","宋体";color:#666666}
.usermain .rightmain .bbox1 .h1-title-num{line-height:26px;margin-right:20px;}
.usermain .rightmain .bbox1 .h1-title-num span{color:#0180cf;}
.usermain .rightmain .bbox1 .h2-title{font-size:14px;font-family:"microsoft yahei","宋体";color:#333333;}
.usermain .rightmain .bbox1 .emptytip{background:url(../images/18.gif)  no-repeat center 40px; padding-top:140px; margin-top:0px; padding-bottom:50px;/*margin-left: 15px;margin-right: 15px; */border-bottom: 1px solid #ccc; text-align:center; font-size:14px; color: #999999}
.tableall{ font-size:14px;/*_width:788px;*/}
.tableall td, .tableall th{ padding:8px 1px;}
.tableall .lim{width:300px;float:left;}
.tableall .rim{width:300px;float:left;}
.tableall .photobox{ margin-top:25px; margin-bottom:50px;}
.tableall .photobox .l{float:left; width:280px; height:350px; border-right:1px #CCCCCC solid}
.tableall .photobox .l .bg{ border:1px #CCCCCC solid; width:280px; height:350px;background:url(../images/23.gif);text-align: center;vertical-align:middle;overflow:hidden;}
.tableall .photobox .r{float:left; width:150px; padding-left:20px;}
.tableall .photobox .r .rimg {width:120px;height:150px;overflow:hidden;}
.tableall .photobox .r .tit{ font-size:14px; padding-bottom:8px; color:#000000;}
.tableall .photobox .r p{ font-size:12px; line-height:200%;}

/*会员右侧小导航*/
.student_topnav{ border-bottom:1px #CCCCCC solid; position:relative; _width:818px;}
.student_topnav .titleH1{ padding-left:20px; padding-top:17px; padding-bottom:10px;margin-top:0;}

.topnav{ height:92px; border-bottom:1px #CCCCCC solid; position:relative; _width:818px;}
.newhti{height:60px;}
.topnav .spread_but{position: absolute;top:60px;right:10px;font-size: 12px;}
.topnav .title_text{position: absolute;top:17px;right:20px;font-size: 14px;_z-index:9999;}
.topnav .title_text p{float: left;}
.topnav .title_text div{display: inline-block;font-size: 12px;}
.topnav .title_text span{font-size: 16px; color:#017FCF;}
.topnav .titleH1{ padding-left:20px; padding-top:17px; padding-bottom:10px;margin-top:0;}
.topnav .navs{ position: absolute; left:0px; bottom:0px;font-family:"microsoft yahei","宋体"; width:800px; font-size:14px;_width:818px;zoom:1;}
.topnav .navs a{ display:block; padding-left:20px; padding-right:20px; height:38px; line-height:38px; float:left; background-color:#FFFFFF; text-align:center;}
.topnav .navs a:hover{border-bottom:3px #4095EF solid; text-decoration:none;color:#666666;}
.topnav .navs a.se{ border-bottom:3px #4095EF solid;}
.topnav .navs a:hover.se{text-decoration:none}
.topnav .navs a span{ color:#999999; font-size:12px;}
.topnav .navs a span.h{ color: #FF3300}
/*会员右侧下方小贴士*/
.bottomtip{ margin-left:15px; margin-right:15px; padding:25px;padding-left:20px; color:#666666; line-height:180%;font-family: "SimSun";font-size: 12px;color:#999;}
.bottomtip .tp{ padding-bottom:10px;background:url(../images/user-icon36.png) no-repeat 0px -306px; padding-left:22px;font-family: "SimSun" !important;}
/*会员中心主体-底部*/
.foot{ width:100%; border-top:3px #E4E4E4 solid; background-color:#F2F2F2; margin-top:15px;}
.foot .box{margin:0 auto; width:1000px; font-size:12px;color: #666666; padding-bottom:30px; padding-top:10px;position:relative}
.foot .box .list{ width:230px; float:left; line-height:230%;}
.foot .box .weixin{ position:absolute; right:0px; top:15px; width:100px; text-align:center}
.foot .box .weixin img{ margin-top:15px;}
.foot .copyright {width:100%; text-align:center; line-height:180%; color:#999999; padding-bottom:15px;}
/*下拉和弹出年月*/
.menu {background-color: #FFFFFF;border:1px solid #CCCCCC;border-top:0;display: none;position: absolute;width: 218px;z-index: 88;}
.menu li {cursor: pointer;line-height: 27px;padding-left: 10px;}
.menu li:hover{background-color: rgb(218,236,245);}
.showyearbox {background-color: #FFFFFF;border: 1px solid #ccc;box-shadow: 3px 3px 4px #CCCCCC;display: none;left: 0;padding: 5px;position: absolute;top: 35px;width: 365px;z-index: 88;}
.showyearbox .tit {color: #0066CC;font-size: 12px;font-weight: bold;padding-left: 10px;}
.showyearbox li {cursor: pointer;float: left;height: 23px;line-height: 23px;padding-left: 10px;width: 50px;font-size: 12px;}
/*-----jquery reason--------*/
p#reason { display: none; position: absolute; padding: 10px;font-size:12px; background-color: #FFFFCC; border: 3px solid #FF9900; z-index: 9999 ; line-height:180%;word-break:break-all;word-wrap:break-word;margin-bottom:20px;}
#vtip { display: none; position: absolute; padding: 10px;font-size:12px; background-color: #FFFFCC; border: 3px solid #FF9900; z-index: 9999 ; line-height:180%;word-break:break-all;word-wrap:break-word;margin-bottom:20px;}
.vtip.c{background:url(../images/07.jpg) no-repeat 5px -175px;display: inline-block;width: 25px;height: 20px;}
/*验证错误*/
label.error {margin-left:6px;color:#FF0000;font-size: 12px;}
input.error {border:1px #FF6600 solid; background-color:#FFEDE8; color:#FF0000}
textarea.error {border:1px #FF6600 solid; background-color:#FFEDE8; color:#FF0000}
 
/*回到顶部组件*/
.back_to_top{position:fixed;right:50px;bottom:50px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-40);}
.back_to_top .back{width:39px;height:39px;margin-bottom:15px;border:1px solid #0189DD;background:url(../images/64.gif) 5px 10px no-repeat #0189DD;cursor:pointer;}
.back_to_top .back div{color:#fff;padding:3px 7px;background-color:#0189DD;display:none;_line-height:17px;line-height:17px;}
.back_to_top .steer{width:39px;height:39px;border:1px solid #ccc;background:url(../images/64.gif) 7px -32px no-repeat;cursor:pointer;background-color: #fff;}
.back_to_top .steer div{color:#fff;padding:3px 7px;background-color:#999999;display:none;_line-height:17px;line-height:17px;}
.back_to_top .sub{width:39px;height:39px;border:1px solid #ccc;border-top:0;background:url(../images/64.gif) 5px -72px no-repeat;cursor:pointer;background-color: #fff;}
.back_to_top .sub div{color:#fff;padding:3px 7px;background-color:#999999;display:none;_line-height:17px;line-height:17px;}
 
/*底部*/
.foot .footer_box{border-bottom: 1px solid #ccc;margin-bottom: 17px;font-family: "microsoft yahei";}
.foot .box{margin:0 auto; width:1200px; font-size:12px;color: #666666; padding-bottom:30px; padding-top:24px;position:relative}
.foot .box .list{ width:200px; float:left; /*line-height:230%;*/margin-right: 35px;}
.foot .box .list h4{font-family: "microsoft yahei";font-size: 16px;color:#333333;font-weight: normal;line-height: 100%; padding-left:15px;padding-bottom: 9px;border-bottom: 1px solid #ccc;}
.foot .box .list .foot_list{padding: 15px;padding-bottom: 0;padding-right:0;width:195px;height:93px;}
.foot .box .list .foot_list ul{float: left;}
.foot .box .list .foot_list li{font-size: 12px;width:95px;line-height: 100%; padding-bottom: 15px;+line-height: 15px;}
.foot .box .weixin{ position:absolute; right:0px; top:24px; width:100px; text-align:center}
.foot .box .weixin img{ margin-top:6px;}
.foot .box .weixin{width:240px;}
.foot .box .weixin .weixin_img{float: left;margin-right: 36px;}
.foot .box .weixin .weixin_img span{font-size: 14px; font-family: "microsoft yahei";}
.foot .box .weixin .comment{font-size: 16px;color:#666666;margin-top: 11px;padding-left: 36px;font-family: "microsoft yahei";background: url(../images/foot_comment.gif) 0px 7px no-repeat;}
.foot .box .weixin .comment p{text-align: left;}
.foot .box .weixin .comment .phone_number{font-size: 18px;font-weight: bold;color:#999999;}
.foot .box .weixin .weixin_cons{}
.foot .box .weixin .weixin_cons .w_txt{float: left;font-size: 16px;color:#333333;width:35px;font-family: "microsoft yahei";margin-left: 21px;margin-top: 18px;margin-right: 12px;}
.foot .box .weixin .weixin_cons img{float: left;}

.share{right:20px;bottom:10px;}
.share .share_txt{display: block;float: left;width:auto;height:25px;line-height: 25px;padding-bottom:2px;color:#999;font-size: 14px;}

.usermain .leftmenu .meunbox .linktxt ul li a{display:block;padding-left: 60px;font-size: 14px;}
 

/***
****以下样式为3.7版本会员中心公用样式
***/
.topnav.only{height: 60px;margin:0 15px;}
.topnav.only .titleH1{padding-left: 15px;}
a{text-decoration: none;outline: none;}
input[type="text"]{outline: none;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.f-left{float:left;}
.f-right{float:right;}
.bbox1{/*overflow: hidden;*/}
.underline:hover{text-decoration: underline;}
.but100cheng{width:100px;height:40px;line-height:40px;font-size:16px;color:#fff;text-align:center;cursor:pointer;border:0px;background-color:#FF9900;font-family: "microsoft yahei","宋体";margin-right:18px;}
.but100cheng.hover{background-color:#FF7700;}
.btn-65-30blue{display: inline-block;width: 65px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-65-30blue.hover{background-color: #0070bd;}
.btn-65-30grey{display: inline-block;width: 65px;height: 30px;text-align: center;font-family: "SimSun";color:#666666;font-size: 12px;cursor: pointer;background-color: #E3E3E3;border:0;margin-right:10px;}
.btn-65-30grey.hover{background-color: #ccc;}
.btn-75-30blue{display: inline-block;width: 75px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-75-30blue.hover{background-color: #0070bd;}
.btn-80-30blue{display: inline-block;width: 80px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-80-30blue.hover{background-color: #0070bd;}
.btn-big-font{font-size: 14px;}

/*3.7选择年份新样式*/
.infoContent .timeSel {position:relative;}
.infoContent .timeSel .setBox{width:290px;display:none;overflow:hidden;}
.infoContent .setBox{position:absolute;left:0;top:34px;z-index:911;background-color:#FFF;border:1px solid #C8C8C8}
.infoContent .timeSel i{position:absolute;top:50px}
.infoContent .timeSel .prevIcon,.infoContent .timeSel .prevHover{left:10px}
i.prevIcon,i.nextIcon,i.prevHover,i.nextHover{height:16px;width:10px;background-position:-4px -62px;cursor:pointer}
/*i{display:block;font-size:0;border:0;_overflow:hidden;background:url(../images/jl_postIcon.png) no-repeat 0 0 transparent}*/
.infoContent .timeSel .nextIcon,.infoContent .timeSel .nextHover{right:10px}
i.nextHover{background-position:-35px -62px}
.infoContent .timeSel ul{overflow:hidden;zoom:1;padding:10px 25px;}
.infoContent .timeSel li{float:left;line-height:26px;padding:0 10px;text-align:center;white-space:nowrap}
.infoContent .timeSel li:hover{background:#e8efff}
.infoContent .setBox li{padding-left:5px;cursor:pointer;list-style:none;display:block}
.infoContent .timeSel li a{color:#15c;outline:0 none;text-decoration:none;}
i.nextIcon{background-position:-12px -62px;display:none;}
.infoContent .monthSel li {width:20px;}
.infoContent .monthSel .setBox{width:190px;}
/* 弹出框  底部提示样式  */
.dialog_bottom{padding:10px 20px;}
.dialog_tip{float: left;width: 5%;height: 25px;line-height: 1.8;background:url(../images/user-icon36.png) no-repeat 0px -307px;font-family: "SimSun" !important;}
.dialog_text{float: left;width: 90%;line-height: 1.8;font-size: 12px;}
/* 3.7 头部 */
a{text-decoration: none;}
a.underline:hover{text-decoration: underline;}
.container-index{width: 1200px;margin:0 auto;font-family: "Microsoft Yahei";}
#header{width: 100%;font-family: "Microsoft Yahei";}
#header .top-nav-wrap{height: 48px;background-color: #006fcb;color:#fff;width: 100%;}
#header .top-nav{width: 1200px;margin:0 auto;}
#header .top-nav li{float: left;line-height: 48px;height:48px;}
#header .top-nav li .nav-li{display: block;font-size: 14px;color:#fff;padding:0 17px;background-color: #006fcb;}
#header .top-nav li .nav-li.active,
#header .top-nav li .nav-li:hover{background-color: #005eac;}
#header .top-nav li.nav-list{position: relative;*z-index:50;}
#header .top-nav li.nav-list .nav-more{display: inline-block;width: 10px;height: 10px;margin-left: 5px;background: url(../images/index-icon.png) no-repeat -1px 1px;*vertical-align: middle;}
#header .top-nav li.nav-list .nav-more-drop{position: absolute;top:48px;left:0;background-color: #fff;padding:0 15px;width: 278px;border:1px solid #e0e0e0;display: none;z-index:20;}
#header .top-nav li.nav-list .nav-more-drop .nav-detail{padding-bottom:15px;border-bottom: 1px dotted #e0e0e0}
#header .top-nav li.nav-list .nav-more-drop .nav-detail li{line-height: 14px;height: 14px;width: 69px;margin-top: 16px;}
#header .top-nav li.nav-list .nav-more-drop .nav-detail li a{color:#666;}
#header .top-nav li.nav-list .nav-more-drop .mob-list{padding:15px 0 20px 0;}
#header .top-nav li.nav-list .nav-more-drop .mob-list h4{color:#333;font-size: 12px;line-height: 14px;font-weight: normal;margin-bottom: 14px;}
#header .top-nav li.nav-list .nav-more-drop .mob-list .mob-list-box{margin-left: -15px;}
#header .top-nav li.nav-list .nav-more-drop .mob-list .mob-list-box .mob-link{margin-left: 15px;color:#666;font-size: 12px;line-height: 18px;}
#header .top-nav li.nav-list .nav-more-drop .mob-list .mob-list-box .mob-link.wap-link{padding-left: 17px;background: url(../images/index-icon.png) no-repeat 0px -22px;}
#header .top-nav li.nav-list .nav-more-drop .mob-list .mob-list-box .mob-link.android-link{padding-left: 23px;background: url(../images/index-icon.png) no-repeat 0px -50px;}
#header .top-nav li.nav-list .nav-more-drop .mob-list .mob-list-box .mob-link.ios-link{padding-left: 21px;background: url(../images/index-icon.png) no-repeat 0px -79px;}
#header .top-nav li.nav-list .nav-more-drop .mob-list .mob-list-box .mob-link.wechat-link{padding-left: 23px;background: url(../images/index-icon.png) no-repeat 0px -104px;}
#header .top-nav li.nav-list .nav-more-drop .mob-list .mob-list-box .mob-link:hover{color:#0180cf;text-decoration: underline}
#header .top-nav .nav-right{font-size: 14px;line-height: 48px;}
#header .top-nav .nav-right .nav-items{margin-left: 20px;}
#header .top-nav .nav-right a{color:#fff;}
#header .header-main{height: 60px;}
#header .header-main .logo-box{width: 300px;height: 70px;overflow: hidden;padding-top: 5px;margin-right: 22px;}
#header .header-main .location-web{margin-top: 25px;height: 60px;border-left: 1px solid #ccc;width: 105px;text-align: center;position: relative;}
#header .header-main .location-web h3{padding-top: 12px;font-size: 16px;color:#0180cf;font-weight: normal;}
#header .header-main .location-web p{color:#666;margin-top: 3px;cursor: pointer;}
#header .header-main .location-web p:hover{color:#0180cf;}
#header .header-main .mobile-block{padding-right: 5px;margin-top: 36px;}
#header .header-main .mobile-block .mob-btn-box{margin-left: 15px;position: relative;}
#header .header-main .mobile-block .mob-btn-box .mob-btn{display: block;padding-left: 40px;width: 70px;height: 30px;line-height: 30px;font-size: 14px;border-radius: 30px;}
#header .header-main .mobile-block .mob-btn-box .mob-btn.phone{border:2px solid #ff7800;color:#ff7800;background: url(../images/index-icon.png) no-repeat 15px -129px;}
#header .header-main .mobile-block .mob-btn-box .mob-btn.wechat{border:2px solid #2cae1d;color:#2cae1d;background: url(../images/index-icon.png) no-repeat 10px -169px;}
