@{
    Layout = null;
    var url = Url.Content(ViewBag.url);
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/www/lib/mediaelement/mediaelementplayer.css" rel="stylesheet" />
    <link href="~/www/lib/mediaelement/mejs-skins.css" rel="stylesheet" />
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <video controls autoplay width="100%" height="100%" src="@url"></video>
    <script src="~/www/lib/jquery/jquery.min.js"></script>
    <script src="~/www/lib/mediaelement/mediaelement-and-player.min.js"></script>
    <script>
        $(function () {
            $('video,audio').mediaelementplayer();
        });
    </script>
</body>
</html>