@{
    ViewBag.Title = "学时明细 - 已完成学时 " + DateTimeHelper.GetTimeStringHMS(ViewBag.learnPeriod);
}
<div class="bbox1">
    <div class="student_topnav">
        <div class="titleH1">
            <div class="h1-title">@ViewBag.Title</div>
        </div>
    </div>

    <div style="margin: 15px;">
         <div class="uitable" style="margin:15px;" data-url="@Url.Action("PeriodDetailsGrid")">
            @Html.Action("PeriodDetailsGrid")
        </div>
    </div>
</div>
