<form class="form-horizontal uiform" method="post"
      data-modal="true"
      data-error-el=".alert-danger"
      data-on-submit-success="fx.maSuccess"
      action="@Url.Action("ModifyUserPassword")">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改密码</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.MarkCreate()
        <div class="alert alert-danger fxhide"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label">当前密码：</label>
            <div class="col-sm-8">
                <input class="form-control" name="currentPwd" type="password"
                    data-validate="required: true,maxlength: 50"
                    data-validate-message="required:'请输入当前密码'"   
                    autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">新密码：</label>
            <div class="col-sm-8">
                <input class="form-control" name="newPwd" type="password"
                    data-validate="required: true,maxlength: 50"
                    data-validate-message="required:'请输入新密码'" 
                    autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">确认密码：</label>
            <div class="col-sm-8">
                <input class="form-control" name="confirmPwd" type="password"
                    data-validate="required: true,maxlength: 50,equalTo:'[name=newPwd]'"
                    data-validate-message="required:'请输入确认密码',equalTo:'输入的新密码和确认密码不一致,请重新输入'" 
                    autocomplete="off">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-save"></i> 保存
        </button>
        <button class="btn btn-default" type="button" data-dismiss="modal">
            <i class="fa fa-sign-in"></i> 关闭
        </button>
    </div>
</form>