@model List<CoursewareDetails>
<div class="galleria">
    @for (int index = 0; index < Model.Count; index++)
    {
        var item = Model[index];
        <a href="@Url.Action("VideoPlay", "Default", new {url = item.Url})">
            @*<img class="iframe" src="@Url.Action("VideoImage", "Default", new {name = "视频"+(index+1)})">*@
            <img class="iframe" src="~/www/images/default_video.png">
        </a>
    }
</div>