@model List<CoursewareDetails>
<div class="galleria">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("VideoPlay","Default",new { url = item.Url })">
            <img class="iframe" src="~/www/images/default_video.png">
        </a>
    }
</div>