<div class="foot">
    @*<div class="footer_box">
        <div class="box link_bk">
            <div class="list">
                <h4>关于我们</h4>
                <div class="foot_list">
                    <ul>
                        <li><a target="_blank" href="http://192.168.10.102:8888/explain/explain-show.php?id=1">联系我们</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/explain/explain-show.php?id=2">网站简介</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/explain/explain-show.php?id=4">合作共赢</a></li>
                        <li><a target="_blank" href="/suggest">意见反馈</a></li>
                    </ul>
                    <ul>
                        <li><a target="_blank" href="http://192.168.10.102:8888/explain/explain-show.php?id=5">网站声明</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/explain/explain-show.php?id=6">职场指南</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/explain/explain-show.php?id=7">收费标准</a></li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <h4>帮助中心</h4>
                <div class="foot_list">
                    <ul>
                        <li><a target="_blank" href="http://192.168.10.102:8888/help/help-list.php?id=4">注册与登录</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/help/help-list.php?id=5">密码找回</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/help/help-list.php?id=8">认证管理</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/help/help-list.php?id=10">招聘管理 </a></li>
                    </ul>
                    <ul>
                        <li><a target="_blank" href="http://192.168.10.102:8888/help/help-list.php?id=17">求职管理</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/help/help-list.php?id=13">充值消费 </a></li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <h4>个人求职</h4>
                <div class="foot_list">
                    <ul>
                        <li><a target="_blank" href="http://192.168.10.102:8888/jobs/jobs-list.php">职位搜索</a></li>
                        <li><a target="_blank" href="/explain/explain-show.php?id=6">职场指南</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/jobs/jobs-list.php?nature=63">兼职招聘</a></li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <h4>企业服务</h4>
                <div class="foot_list">
                    <ul>
                        <li><a target="_blank" href="/user/company/company_jobs.php?act=addjobs">发布职位</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/resume/resume-list.php">简历搜索</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/simple/simple-list.php">招聘普工</a></li>
                        <li><a target="_blank" href="http://192.168.10.102:8888/hrtools/hrtools-list.php">HR工具箱</a></li>
                    </ul>
                    <ul>
                        <li><a target="_blank" href="http://192.168.10.102:8888/user/login.php">企业注册</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>

            <div class="weixin">
                <div class="weixin_con">
                    <div class="weixin_img">
                        <span>官方微信</span><br />
                        <img src="/www/images/weixin_img.jpg" width="80" height="80">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="weixin_cons" style="display:none;">
                    <div class="w_txt">官方微信</div>
                    <img src="/www/images/weixin_img.jpg" alt="" width="80" height="80">
                    <div class="clear"></div>
                </div>
                <div class="comment">
                    <p>服务热线</p>
                    <p class="phone_number">400-00000000</p>
                </div>
            </div>
        </div>
    </div>*@

    <div class="copyright">
        @Html.Partial("_Copyright")
    </div>
</div>
